<!DOCTYPE html>
<html>
    <head>
        <title>Edit Brand</title>
    </head>
    <body>
        <h1>Edit the store: {{ brand.getName }}</h1>

        <form action="/edit_brand" method="post">
            <label for="name">Enter the Brands new name:</label>
            <input type="text" name="name">
            <input name="_method" type="hidden" value="patch">
            <input name="id" type="hidden" value="{{ brand.getId }}">
            <button type="submit">Update Brand Name</button>
        </form>

        <form action="/delete_brand" method="post">
            <input name="_method" type="hidden" value="delete">
            <input name="id" type="hidden" value="{{ brand.getId }}">
            <button type="submit">Delete this Brand and all of its Brands</button>
        </form>
        <a href="/brands">Go Back to the Brands</a>
    </body>
</html>
