<!DOCTYPE html>
<html>
    <head>
        <title>Shoe Store App</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <h1>Are you interested in Stores or Shoes?</h1>
        <div class = "nav">
            <a href="/brands" class ="link">Find Brands</a>
            <a href="/stores" class ="link">Find Stores</a>
        </div>

    </body>
</html>
