<!DOCTYPE html>
<html>
    <head>
        <title>Shoe Store App</title>
    </head>
    <body>
        <h1>Are you interested in Stores or Shoes?</h1>
        <a href="/brands">Find Brands</a>
        <a href="/stores">Find Stores</a>
    </body>
</html>
